@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v15-latin-regular.woff') format('woff'),
         url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('../fonts/open-sans-v15-latin-italic.woff2') format('woff2'),
         url('../fonts/open-sans-v15-latin-italic.woff') format('woff'),
         url('../fonts/open-sans-v15-latin-italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'),
         url('../fonts/open-sans-v15-latin-700.woff') format('woff'),
         url('../fonts/open-sans-v15-latin-700.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
         url('../fonts/open-sans-v15-latin-700italic.woff2') format('woff2'),
         url('../fonts/open-sans-v15-latin-700italic.woff') format('woff'),
         url('../fonts/open-sans-v15-latin-700italic.ttf') format('truetype')
}

:root {
    --max-page-width: 1170px; 
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #343434;
}

/* HEADER */
.region.region-header {
    background: #d2752e;
    color: white;
    font-size: 14px;
    font-size: .875rem;
}

.region-header-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
}

div#block-outbreak-sitebranding {
    display: flex;
    align-items: center;
}

div#block-outbreak-sitebranding img {
    padding: 0px 10px;
    width: 100px;
}

div#block-outbreak-sitebranding .site-name a {
    font-size: 22px;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav#block-toplinks {
    width: 100%;
    background: #343434;
}

nav#block-toplinks .menu {
    display: flex;
    margin-top: .7em;
    margin-bottom: .7em;
}

.menu-item {
    padding-top: 0px;
}

nav#block-toplinks .menu-item:after {
    margin-right: .3em;
    content: "|";
}

nav#block-toplinks .menu-item:last-child:after {
    margin: 0px;
    content: none;
}

nav#block-toplinks .menu a,
nav#block-toplinks .menu a:visited {
    color: white;
    text-decoration: none;
}

nav#block-toplinks .menu a:hover,
nav#block-toplinks .menu a:focus {
    text-decoration: underline;
}

div#block-outbreak-exposedformcontent-searchpage-1 {
    width: 100%;
}

div#block-outbreak-exposedformcontent-searchpage-1 .form--inline.clearfix {
    display: flex;
}

div#block-outbreak-exposedformcontent-searchpage-1 .form-item,
div#block-outbreak-exposedformcontent-searchpage-1 .form-actions {
    margin-top: 0px;
    margin-bottom: 0px;
}

div#block-outbreak-exposedformcontent-searchpage-1 .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-keys.form-item-keys {
    display: flex;
    flex-grow: 1;
    margin-right: 0px;
}

div#block-outbreak-exposedformcontent-searchpage-1 label {
    display: none;
}

div#block-outbreak-exposedformcontent-searchpage-1 input {
    border: none;
    padding-top: .7em;
    padding-bottom: .7em;
}

div#block-outbreak-exposedformcontent-searchpage-1 input[type="text"] {
    color: black;
}

div#block-outbreak-exposedformcontent-searchpage-1 div#edit-actions {
    display: flex;
    width: 60px;
}

div#block-outbreak-exposedformcontent-searchpage-1 input[type="text"] {
    width: calc(100% - 1.6em);
    padding-left: 10px;
    padding-left: .8em;
    padding-right: 10px;
    padding-right: .8em;
}

div#block-outbreak-exposedformcontent-searchpage-1 button[type="submit"] {
    width: 100%;
    background: #343434;
    border: 1px solid #3d3d3d;
    font-size: 0px;
}

div#block-outbreak-exposedformcontent-searchpage-1 button[type="submit"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 22px;
    content: "\f002";
}

/* PRIMARY MENU */
.region.region-primary-menu {
    background: #a3311a;
    padding: 10px 0px;
    padding: .8em 0px;
    color: white;
}

.region.region-primary-menu a,
.region.region-primary-menu a.is-active
{
    color: white;
}

.region.region-primary-menu a.main-menu-mobile-link {
    text-decoration: none;
    margin-left: .6em;
    display: inline-block;
    font-weight: bold;
}

.region.region-primary-menu a.main-menu-mobile-link:hover,
.region.region-primary-menu a.main-menu-mobile-link:focus {
    text-decoration: underline;
    margin-left: .6em;
    display: inline-block;
    font-weight: bold;
}

.region.region-primary-menu span.main-menu-mobile-icon {
    border: 1px solid #c17565;
    padding: 8px 11px 5px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 7px;
}

.region.region-primary-menu span.main-menu-mobile-icon:before {
    display: inline-block;
    font-size: 20px;
    font-size: 1.5rem;
    line-height: 1em;
    content: "";
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
}

.region.region-primary-menu .main-menu-items-wrapper {
    display: none;
    margin-top: 1em;
}

.region.region-primary-menu ul.menu {
    margin: 0px 10px 0px 10px;
}

.region.region-primary-menu li.menu-item {
    background: rgba(0,0,0,.2);
    border-radius: 2px;
    margin-bottom: 2px;
    list-style: none;
}

.region.region-primary-menu li.has-sub {
    background: none;
}

.region.region-primary-menu li.menu-item a {
    display: block;
    padding: 10px;
    padding: .6rem;
    text-decoration: none;
}

.region.region-primary-menu li.menu-item a:hover,
.region.region-primary-menu li.menu-item a:focus {
    background: rgba(0, 0, 0, .5);
    transition: background .2s ease-in;
}

.region.region-primary-menu .menu-item-wrapper {
    display: flex;
    border-radius: 2px 0px 0px 2px;
    margin-bottom: 2px;
    background: rgba(0,0,0,.2);
}

.region.region-primary-menu .menu-item-wrapper > a {
    flex-grow: 1;
}

.region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > a,
.region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > .menu-item-wrapper > a {
    background: rgba(0,0,0,.5);
}

.region.region-primary-menu button.sub-menu-arrow {
    width: 50px;
    background: rgba(0,0,0,.3);
    border: none;
    border-radius: 2px;
    padding: 0 .6rem;
    cursor: pointer;
    font-size: 0px;
}

.region.region-primary-menu button.sub-menu-arrow:after {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-weight: 600;
    content: "\f107";
}

.region.region-primary-menu button.sub-menu-arrow.active:after {
    content: "\f106";
}

.region.region-primary-menu button.sub-menu-arrow:hover,
.region.region-primary-menu button.sub-menu-arrow:focus {
    background: rgba(0,0,0,.5);
    transition: background .2s ease-in;
}

.region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > .menu-item-wrapper > button.sub-menu-arrow {
    background: rgba(0,0,0,.6);
}

.region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > .menu-item-wrapper > button.sub-menu-arrow:hover {
    background: rgba(0,0,0,.8);
}

.region.region-primary-menu ul.menu ul.menu {
    display: none;
    margin: 0px;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded {
    display: block;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item {
    background: rgba(0,0,0,.4);
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item a {
    padding-left: 15px;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item a:hover,
.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item a:focus {
    background: rgba(0,0,0,.3);
    transition: background .2s ease-in;
}

/* ADMINISTRATION TABS */
nav.tabs {
    max-width: 1170px;
    max-width: var(--max-page-width, 1170px);
    margin: auto;
}

ul.tabs {
    margin: 0.25em 0;
}

.tabs a {
    color: white;
}

.tabs a:hover,
.tabs a:focus,
.tabs a.is-active {
    background-color: #d2752e;
}

/* BREADCRUMB */
.region.region-breadcrumb {
    background: #fae9d3;
}

nav.breadcrumb {
    display: none;
    padding-top: 8px;
    padding-top: .5em;
    padding-left: 16px;
    padding-left: 1em;
    font-size: 14px;
}

nav.breadcrumb li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-size: 12px;
    content: '\f101';
}

nav.breadcrumb a {
    font-weight: bold;
    color: #8e3e2e;
    text-decoration: none;
}

nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 0px 10px;
    overflow: hidden;
    background: #fae9d3;
    font-size: .875rem;
}

.page-node-type-outbreak-standard main,
.page-node-type-outbreak-response main,
.path-current-responses-to-outbreaks main,
.path-search main {
    background: white;
}

.page-node-type-outbreak-home main {
    padding-top: 20px;
    padding-bottom: 10px;
}

main h1,
main h2,
main h3,
main h4 {
    margin: .6em 0 .4em;
}

main h1 {
    color: #8e3e2e;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 36px;
    line-height: 2rem;
}

main h2 {
    color: #8c4d39;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: normal;
}

main h3,
main h4 {
    font-size: 16px;
    font-size: 1rem;
}

main h3 {
    color: #343434;
    font-weight: bold;
}

main h4 {
    color: black;
    font-weight: normal;
}

main a {
    color: #bb523d;
    text-decoration: underline;
}

main a:hover,
main a:focus {
    color: black;
    text-decoration: underline;
}

.region.region-content {
    padding-bottom: 20px;
 }

/* LEFT NAVIGATION */
nav#block-secondarynavigation {
    display: none;
}

.secondary-menu-wrapper a {
    text-decoration: none;
}

.secondary-nav-title {
    position: relative;
    background: #132d3a;
    padding: .8em;
    padding-left: 30px;
}

.secondary-nav-title:before {
    position: absolute;
    top: calc(50% - .6em);
    left: 10px;
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-size: .75rem;
    content: '\f3e5';
    color: white;
    font-weight: 600;
}

.secondary-nav-title a {
    color: white;
    font-weight: bold;
}

.secondary-nav-title a:hover,
.secondary-nav-title a:focus {
    color: white;
}

.secondary-menu-wrapper ul {
    list-style: none;
    background-color: white;
    margin: 0;
    padding: 0;
}

.secondary-menu-wrapper ul.menu-level-1 > li:first-child {
    border-top: white 1px solid;
}

.secondary-menu-wrapper li:not(:last-child)  {
    border-bottom: white 1px solid;
}

li.has-sub {
    position:relative;
}

.secondary-menu-wrapper li a {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    overflow-wrap: break-word;
    background: #fae9d3;
    width: 100%;
    padding: .7em 25px .7em .8em;
    color: black;
}

.secondary-menu-wrapper li a:hover,
.secondary-menu-wrapper li a:focus,
.secondary-menu-wrapper li.is-active > a {
    text-decoration: none;
    background: #bb523d;
    color:white;
}

.secondary-menu-wrapper li.is-active.has-sub > a:after,
.secondary-menu-wrapper li.has-sub > a:after {
    position: absolute;
    top: calc(50% - .6em);
    right: 10px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
}

.secondary-menu-wrapper li.is-active.has-sub > a:after {
    content: '\f0d7';
    color: white;
}

.secondary-menu-wrapper li.has-sub > a:after {
    content: '\f0da';
    color: black;
}

.secondary-menu-wrapper li.has-sub a:hover:after,
.secondary-menu-wrapper li.has-sub a:focus:after {
    color: white;
}

ul.menu-level-2,
ul.menu-level-3 {
    display: none;
}

li.is-active ul.menu-level-2 {
    display: block;
}

li.has-sub:not(.is-active):hover ul.menu-level-2,
li.has-sub:not(.is-active)[aria-expanded="true"] ul.menu-level-2,
ul.menu-level-2 li.has-sub:hover ul.menu-level-3,
ul.menu-level-2 li.has-sub[aria-expanded="true"] ul.menu-level-3 {
    display: block;
    position:absolute;
    right:-251px;
    top:0px;
    min-width: 250px;
    z-index: 9999;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.47);
}

li.is-active ul.menu-level-2 > li:first-child {
    border-top: 1px white solid;
}

li.is-active ul.menu-level-2 a {
    background: #e7d7b3;
    padding: .7em 1.6em;
    width: 100%;
}

li.is-active ul.menu-level-2 a:hover,
li.is-active ul.menu-level-2 a:focus {
    background: #d26c58;
}

/* CONTENT */
.page-node-type-outbreak-standard #block-outbreak-mainpagecontent,
.page-node-type-outbreak-response #block-outbreak-mainpagecontent,
.path-current-responses-to-outbreaks #block-outbreak-mainpagecontent,
.path-search #block-outbreak-mainpagecontent {
    color: #343434;
    font-size: 14px;
    font-size: .875rem;
}

.page-node-type-outbreak-standard #block-outbreak-mainpagecontent p,
.page-node-type-outbreak-response #block-outbreak-mainpagecontent p,
.path-current-responses-to-outbreaks #block-outbreak-mainpagecontent p,
.path-search #block-outbreak-mainpagecontent p {
    margin: 0 0 .9em;
}

.page-node-type-outbreak-standard #block-outbreak-mainpagecontent a[target="_blank"],
.page-node-type-outbreak-response #block-outbreak-mainpagecontent a[target="_blank"],
.path-current-responses-to-outbreaks #block-outbreak-mainpagecontent a[target="_blank"] {
    margin-right: 20px;
}

/* IE 11 oddity. Add underline to later remove underline */
.page-node-type-outbreak-standard #block-outbreak-mainpagecontent a[target="_blank"]:after,
.page-node-type-outbreak-response #block-outbreak-mainpagecontent a[target="_blank"]:after,
.path-current-responses-to-outbreaks #block-outbreak-mainpagecontent a[target="_blank"]:after {
    text-decoration: underline;
}

.page-node-type-outbreak-standard #block-outbreak-mainpagecontent a[target="_blank"]:after,
.page-node-type-outbreak-response #block-outbreak-mainpagecontent a[target="_blank"]:after,
.path-current-responses-to-outbreaks #block-outbreak-mainpagecontent a[target="_blank"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f35d";
    font-size: 10px;
    font-size: .65rem;
    margin-left: 5px;
    position: absolute;
    text-decoration: none;
}

.align-right .field--type-image {
    padding-left: 10px;
}
.align-left .field--type-image {
    padding-right: 10px;
}

#block-outbreak-mainpagecontent table, 
#block-outbreak-mainpagecontent th, 
#block-outbreak-mainpagecontent td {
	border: 1px solid #bb523d;
	text-align: left;
}

#block-outbreak-mainpagecontent table {
	margin: 1em 0 1.5em;
}

#block-outbreak-mainpagecontent th {
    background-color: #bb523d;
    padding: .5em .6em;
    border-right: 1px solid #ffffff;
	color: #fff;
	font-weight: normal;
}

#block-outbreak-mainpagecontent th:last-child {
	border-right: 1px solid #bb523d;
}

#block-outbreak-mainpagecontent th.center {
	text-align: center;
}

#block-outbreak-mainpagecontent tr td {
	padding: .6em .9em;
}

#block-outbreak-mainpagecontent .important-box-1,
#block-outbreak-mainpagecontent .important-box-2,
#block-outbreak-mainpagecontent .important-box-3,
#block-outbreak-mainpagecontent .see-also-box {
    padding: 1em;
}

#block-outbreak-mainpagecontent .important-box-2 {
    background-color: #f0ecef;
    color: #773141;
    margin-bottom: 20px;
    padding-left: 6px;
}

#block-outbreak-mainpagecontent .important-box-1 a,
#block-outbreak-mainpagecontent .important-box-2 a,
#block-outbreak-mainpagecontent .important-box-3 a,
#block-outbreak-mainpagecontent .see-also-box a {
    border-bottom: 1px solid #dda89e;
}

#block-outbreak-mainpagecontent .important-box-1 a:hover,
#block-outbreak-mainpagecontent .important-box-2 a:hover,
#block-outbreak-mainpagecontent .important-box-3 a:hover,
#block-outbreak-mainpagecontent .see-also-box a:hover {
    text-decoration: none;
}

/* VIEWS */
/* RESPONSES TO OUTBREAKS */
.view-current-responses-to-outbreaks p {
    margin-top: 0px;   
}

.view-grouping-header {
    margin-top: .5em;
    font-size: 16px;
    font-size: rem;
    font-weight: bold;
}

.outbreak-list-state-territory-outer {
    display: flex;   
}

/* SEARCH */
.view-content .views-field-path {
    padding-top: 2px;
    color: #338200;
}

/* FOOTER */
footer {
    border-top: 10px solid #e7d7b3;
    padding-bottom: 20px;
    font-size: 14px;
    font-size: .9rem;
}

footer .menu-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer .menu-item a:hover,
footer .menu-item a:focus {
    text-decoration: underline;
}

footer .menu {
    margin-left: 0px;
    margin-bottom: 0px;
}

footer .menu-item {
    display: inherit;
    text-align: center;
    margin: 0.5em 0;
}

footer .menu-item:last-child {
    margin: 0;
}

/* COMPONENTS */
/* CAROUSEL */
.carousel,
.carousel-controls {
    background: #343434;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.carousel h2 {
    font-weight: bold;
    color: white;
    margin-top: 0;
    font-size: 27px;
    font-size: 1.35rem;
    font-size: 18px; /* Temp - Change when font family changes */
}

.carousel-item-main-container {
    display: flex;
    border: 1px solid #fae9d3;
    border-bottom: none;
}

.carousel .carousel-item {
    padding: 15px;
}

.carousel .carousel-item-image-wrapper {
    display: none;
    width: 65%;
}

.carousel .carousel-item-image {
    width: 100%;
}

.carousel-list-wrapper {
    position: relative;
    flex-grow: 1;
    background: #474747;
}

.carousel-item-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.carousel .carousel-item-li {
    border-bottom: 1px solid #fae9d3;
}

.carousel .carousel-item-li,
.carousel .carousel-item-li a {
    color: white;
}

.carousel .no-response,
.carousel .carousel-item-li a {
    padding: .6em .8em;
}

.carousel .carousel-item-li a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

.carousel .carousel-item-li a:focus,
.carousel .carousel-item-li a:hover {
    background: #bb523d;
    transition: all .2s ease-in;
}

.response-batch-controls {
    display: none;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    padding-bottom: .4em;
    width: calc(100% - 20px);
    text-align: center;
    margin: 0px 10px;
}

.response-batch-controls a {
    width: 50%;
    color: white;
    text-decoration: none;
}

.response-batch-controls a:focus,
.response-batch-controls a:hover {
    color: white;
    text-decoration: none;
}

.response-batch-controls .disabled,
.response-batch-controls .disabled:hover,
.response-batch-controls .disabled:focus {
    color: #999;
    cursor: text;
}

.response-batch-controls a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-right: 10px;
}

.response-batch-controls .next-batch:before {
    content: "\f103";
}

.response-batch-controls .previous-batch:before {
    content: "\f102";
}

.carousel-controls {
    padding-bottom: 5px;
    position: relative;
}

.carousel-autoplay {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: transparent;
    padding-top: 0px;
    height: 20px;
    font-size: 0px;   
    color: transparent;
}

.carousel-autoplay:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 14px;
    font-size: .875rem;
    color: white;
    content: "\f04c";
}

.carousel-autoplay.paused:before {
    content: "\f04b";
}

.slick-dots {
    position: static;
    padding: 10px 0px;
}

.slick-dots li button,
.slick-dots li button:before {
    font-size: 14px;
    font-size: .875rem;
}

.slick-dots li button {
    user-select: none;
}

.slick-dots li button:before {
    font-family: "Font Awesome 5 Free";
    color: #fae9d3;
    opacity: 100;
    content: "\f111";
}

.slick-dots li.slick-active button:before {
    color: #fae9d3;
    opacity: 100;
    font-weight: 600;
}

.carousel-state-selector-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background: #e7d7b3;
    list-style: none;
}

.carousel-state-selector-list-item {
    box-sizing: border-box;
    width: 50%;
    border-top: white solid 1px;
    border-left: white solid 1px;
}

.carousel-state-selector-list-item:nth-child(2n) {
    border-right: white solid 1px;
}

.carousel-state-selector-list-item:nth-last-child(-n+2) {
    border-bottom: white 1px solid;
}

.carousel-state-selector-list-item button {
    width: 100%;
    min-height: 70px;
    background: none;
    border: none;
}

.carousel-state-selector-list-item button:hover,
.carousel-state-selector-list-item button:focus {
    background: rgba(0,0,0,.1);
}

.carousel-state-selector-list-item.active button {
    background: #bb523d;
    color: white;
}

/* NODE LIST */
main .field--name-field-feature-boxes {
    margin-top: 10px;
}

main .field--name-field-feature-boxes img {
    width: 100%;
    height: 100%;
}

main .field--name-field-feature-boxes .field--name-body {
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: normal;
}

main .field--name-field-feature-boxes a {
    color: #5f2a1f;
    text-decoration: none;
}

main .field--name-field-feature-boxes a:hover,
main .field--name-field-feature-boxes a:focus {
    text-decoration: underline;
}

main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item {
    background: #e7d7b3;
    border: 1px solid #bb533e;
    padding: 8px;
}

main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:not(:last-child) {
    margin-bottom: 10px;
}

main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover,
main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover .field--name-body,
main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover .stack__content a {
    transition: all 0.2s ease-in;
    color: white;
}

main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover {
    background: #bb523d;
}

/* ADMINISTRATION */
.page-node-type-outbreak-home .messages--status {
    width: 100%;
    margin-bottom: 10px;
}

.page-node-type-outbreak-standard .messages--status,
.page-node-type-outbreak-response .messages--status,
.path-current-responses-to-outbreaks .messages--status,
.path-search .messages--status {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column-start: col-start 1;
    grid-column-end: span 3;
}

@media only screen and (min-width: 768px) {
    /* HEADER */
    div#block-outbreak-sitebranding {
        width: 100%;
    }

    div#block-outbreak-sitebranding img {
        width: 135px;
        height: 100%;
    }

    div#block-outbreak-sitebranding .site-name a {
        font-size: 33px;
        font-size: 2rem;
    }

    nav#block-toplinks {
        display: flex;
        flex: 0 1 60%;
    }

    div#block-outbreak-exposedformcontent-searchpage-1 {
        display: flex;
        flex: 0 1 40%
    }

    div#block-outbreak-exposedformcontent-searchpage-1 > form {
        width: 100%;
    }

    /* BREADCRUMB */
    nav.breadcrumb {
        display: block;
    }

    /* COMPONENTS */
    /* CAROUSEL */
    .carousel-item-main-container {
        border-bottom: 1px solid #fae9d3;
    }
    
    .carousel .carousel-item-image-wrapper {
        display: block;
    }

    .carousel .carousel-item-li.batch-hide {
        display: none;
    }

    .response-batch-controls {
        display: flex;
    }

    .carousel-autoplay {
        position: absolute;
        top: -35px;
        left: 20px;
    }
    
    .carousel-autoplay:before {
        color: #343434;
    }

    .carousel-state-selector-list-item {
        width: 25%;
    }
    
    .carousel-state-selector-list-item:nth-child(2n) {
        border-right: none;
    }

    .carousel-state-selector-list-item:nth-child(4n) {
        border-right: white 1px solid;
    }
    
    .carousel-state-selector-list-item:nth-last-child(-n+4) {
        border-bottom: white 1px solid;
    }

    /* NODE LIST */
    main .field--name-field-feature-boxes .field__items {
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
    }
    main .field--name-field-feature-boxes .field__items > .field__item {
        width: 49%;
        margin-right: 2%;
        box-sizing: border-box;
    }
    
    main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:not(:last-child) {
        margin-bottom: 0;
    }

    main .field--name-field-feature-boxes .field__items > .field__item:nth-child(2) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1170px) {
    /* HEADER */
    .region-header-inner-wrapper {
        display: -ms-grid;
        display: grid;
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
        -ms-grid-columns: 65% 5% 30%;
        grid-template-columns: [col-start] 65% [col-start] 5% [col-start] 30%;
    }
    
    div#block-outbreak-sitebranding {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-column-start: col-start 1;
        -ms-grid-row-span: 2;
        grid-row-end: span 2;
    }

    nav#block-toplinks {
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
        -ms-grid-row-align: end;
        align-self: end;
    }

    nav#block-toplinks .menu-item:after {
        margin-left: .4em;
        margin-right: .6em;
    }
    
    div#block-outbreak-exposedformcontent-searchpage-1 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
    }

     /* PRIMARY MENU */
     .region.region-primary-menu {
        padding: 0px;
    }

    nav#block-outbreak-mainnavigation {
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
    }

    .region.region-primary-menu a.main-menu-mobile-link,
    .region.region-primary-menu a.main-menu-mobile-link:hover,
    .region.region-primary-menu a.main-menu-mobile-link:focus {
        display: none;
    }

    .region.region-primary-menu .main-menu-items-wrapper {
        display: block !important; /* Cater for Jquery slidetoggle state in mobile view */
        margin: 0px;
    }

    .region.region-primary-menu ul.menu {
        margin: 0px;
        display: flex;
    }

    .region.region-primary-menu li.menu-item {
        position: relative;
        background: none;
        display: flex;
        flex: 1 1 0px;
        margin: 0;
        min-height: 73px;
    }

    .region.region-primary-menu li.has-sub:hover {
        background: #bb523d;
    }

    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item {
        border-right: #a3311a solid 1px;
    }

    .region.region-primary-menu li.menu-item a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: bold;
        font-size: 14px;
        font-size: .9rem;
    }

    .region.region-primary-menu .menu-item-wrapper {
        background: none;
        width: 100%;
        margin: 0;
    }

    .region.region-primary-menu li.menu-item a:hover,
    .region.region-primary-menu li.menu-item a:focus,
    .region.region-primary-menu li.has-sub[aria-expanded="true"] a,
    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > a,
    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > .menu-item-wrapper > a {
        background: #bb523d;
    }

    .region.region-primary-menu button.sub-menu-arrow {
        display: none;
    }

    .region.region-primary-menu ul.menu ul.menu {
        position: absolute;
        top: 73px;
        left: 0px;
        z-index: 99999;
        background: #a3311a;
        display: none;
        min-width: 250px;
    }

    .region.region-primary-menu ul.menu ul.menu a {
        background: #bb523d;
    }

    .region.region-primary-menu li.has-sub:hover ul.menu,
    .region.region-primary-menu li.has-sub[aria-expanded="true"] ul.menu {
        display: block;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item {
        background: none;
        min-height: 0px;
        display: block;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item:not(:last-child) {
        border-bottom: white solid 1px;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item a {
        display: block;
        box-sizing: border-box;
        padding: .8em .5em .8em 1.2em;
        font-weight: normal;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item a:focus,
    .region.region-primary-menu ul.menu ul.menu li.menu-item a:hover {
        background: rgba(0,0,0,.2);
    }

    /* BREADCRUMB */
    nav.breadcrumb {
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
    }

    /* MAIN */
    main h1 {
        margin-top: 0;
    }

    .page-node-type-outbreak-standard main,
    .page-node-type-outbreak-response main,
    .path-current-responses-to-outbreaks main,
    .path-search main {
        background: #fae9d3;
        padding-bottom: 10px;
    }

    .region.region-content {
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
    }
    
    .page-node-type-outbreak-standard .region.region-content,
    .page-node-type-outbreak-response .region.region-content,
    .path-current-responses-to-outbreaks .region.region-content,
    .path-search .region.region-content {
        background: white;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 260px 30px auto;
        grid-template-columns: [col-start] 260px [col-start] 30px [col-start] auto;
    }

    .page-node-type-outbreak-home .region.region-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    /* LEFT NAVIGATION */
    nav#block-secondarynavigation {
        display: block;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-column-start: col-start 1;
        grid-row-end: span 2;
        padding: 10px 0 0 10px;
        padding: .625em 0 0 .625em;
    }

    /* CONTENT */
    div#block-outbreak-pagetitle {
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
        padding: 10px 20px 0 0;
        padding: .625em 20px 0 0;
    }

    .page-node-type-outbreak-standard #block-outbreak-mainpagecontent,
    .page-node-type-outbreak-response #block-outbreak-mainpagecontent,
    .path-current-responses-to-outbreaks #block-outbreak-mainpagecontent,
    .path-search  #block-outbreak-mainpagecontent {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
        padding-right: 20px;
    }

    /* VIEWS */
    .view.view-current-responses-to-outbreaks {
        overflow: hidden;
    }

    /* FOOTER */
    footer .region.region-footer {
        max-width: 1170px;
        margin: auto;
        color: white;
    }
    
    footer .menu {
        display: flex;
        justify-content: center;
    }

    footer .menu-item:after {
        padding: 0 .5em;
        content: "|";
    }

    footer .menu-item:last-child {
        margin:0.5em 0;
    }

    footer .menu-item:last-child:after {
        margin: 0px;
        content: none;
    }

    /* COMPONENTS */
    /* CAROUSEL */
    #block-homepagecarousel {
        width: 67%;
    }

    /* NODE LIST */
    .page-node-type-outbreak-home #block-outbreak-mainpagecontent {
        width: calc(33% - 14px);
        height: 100%;
        margin-left: 14px;
    }

    main .field--name-field-feature-boxes {
        margin-top: 0;
    }

    main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item {
        width: 100%;
        margin-right: 0;
    }

    main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:not(:last-child) {
        margin-bottom: 20px;
    }
}