:root {
    --max-page-width: 1170px; 
}

/* HEADER */
.region.region-header {
    background: #d2752e;
    color: white;
}

.region-header-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
}

div#block-outbreak-sitebranding {
    display: flex;
    align-items: center;
}

div#block-outbreak-sitebranding img {
    padding: 0px 10px;
    width: 100px;
}

div#block-outbreak-sitebranding a {
    font-size: 22px;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav#block-toplinks {
    width: 100%;
    background: #343434;
}

nav#block-toplinks .menu {
    display: flex;
    margin-top: .5em;
    margin-bottom: .5em;
}

nav#block-toplinks .menu-item:after {
    margin-right: .3em;
    content: "|";
}

nav#block-toplinks .menu-item:last-child:after {
    margin: 0px;
    content: none;
}

nav#block-toplinks a,
nav#block-toplinks a:visited {
    color: white;
    text-decoration: none;
}

nav#block-toplinks a:hover,
nav#block-toplinks a:focus {
    text-decoration: underline;
}

div#block-outbreak-exposedformcontent-searchpage-1 {
    width: 100%;
}

div#block-outbreak-exposedformcontent-searchpage-1 .form--inline.clearfix {
    display: flex;
}

div#block-outbreak-exposedformcontent-searchpage-1 .form-item,
div#block-outbreak-exposedformcontent-searchpage-1 .form-actions {
    margin-top: 0px;
    margin-bottom: 0px;
}

div#block-outbreak-exposedformcontent-searchpage-1 .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-keys.form-item-keys {
    display: flex;
    width: 82%;
    margin-right: 0px;
}

div#block-outbreak-exposedformcontent-searchpage-1 label {
    display: none;
}

div#block-outbreak-exposedformcontent-searchpage-1 input {
    border: none;
    padding-top: .6em;
    padding-bottom: .6em;
}

div#block-outbreak-exposedformcontent-searchpage-1 input[type="text"] {
    color: black;
}

div#block-outbreak-exposedformcontent-searchpage-1 div#edit-actions {
    display: flex;
    width: 18%;
}

div#block-outbreak-exposedformcontent-searchpage-1 input[type="text"] {
    width: calc(100% - 1.6em);
    padding-left: 10px;
    padding-left: .8em;
    padding-right: 10px;
    padding-right: .8em;
}

div#block-outbreak-exposedformcontent-searchpage-1 input[type="submit"] {
    width: 100%;
    background: #343434;
    border: 1px solid #3d3d3d;
}

/* PRIMARY MENU */
.region.region-primary-menu {
    background: #a3311a;
    padding: 10px 0px;
    padding: .8em 0px;
    color: white;
}

.region.region-primary-menu a,
.region.region-primary-menu a.is-active
{
    color: white;
}

.region.region-primary-menu a.main-menu-mobile-link {
    text-decoration: none;
    margin-left: .6em;
    display: inline-block;
    font-weight: bold;
}

.region.region-primary-menu a.main-menu-mobile-link:hover,
.region.region-primary-menu a.main-menu-mobile-link:focus {
    text-decoration: underline;
    margin-left: .6em;
    display: inline-block;
    font-weight: bold;
}

.region.region-primary-menu span.main-menu-mobile-icon {
    border: 1px solid #c17565;
    padding: 8px 11px 5px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 7px;
}

.region.region-primary-menu span.main-menu-mobile-icon:before {
    display: inline-block;
    font-size: 20px;
    font-size: 1.5rem;
    line-height: 1em;
    content: "";
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
}

.region.region-primary-menu .main-menu-items-wrapper {
    display: none;
    margin-top: 1em;
}

.region.region-primary-menu ul.menu {
    margin: 0px 10px 0px 10px;
}

.region.region-primary-menu li.menu-item {
    background: rgba(0,0,0,.2);
    border-radius: 2px;
    padding-top: 0px;
    margin-bottom: 2px;
    list-style: none;
}

.region.region-primary-menu li.menu-item--expanded {
    background: none;
}

.region.region-primary-menu li.menu-item a,
.region.region-primary-menu span.sub-menu-arrow {
    padding: 10px;
    padding: .6rem;
}

.region.region-primary-menu li.menu-item a {
    display: block;
    text-decoration: none;
}

.region.region-primary-menu li.menu-item a:hover,
.region.region-primary-menu li.menu-item a:focus {
    background: rgba(0, 0, 0, .5);
    transition: background .2s ease-in;
}

.region.region-primary-menu .menu-item-wrapper {
    display: flex;
    border-radius: 2px 0px 0px 2px;
    margin-bottom: 2px;
}

.region.region-primary-menu .main-menu-items-wrapper > ul.menu > .menu-item > .menu-item-wrapper {
    background: rgba(0,0,0,.2);
}

.region.region-primary-menu .menu-item-wrapper > a {
    flex: 15;
}

.region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > a,
.region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > .menu-item-wrapper > a {
    background: rgba(0,0,0,.5);
}

.region.region-primary-menu span.sub-menu-arrow {
    flex: 1;
    background: rgba(0,0,0,.3);
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.region.region-primary-menu span.sub-menu-arrow:hover,
.region.region-primary-menu span.sub-menu-arrow:focus {
    background: rgba(0,0,0,.5);
    transition: background .2s ease-in;
}

.region.region-primary-menu ul.menu ul.menu {
    display: none;
    margin: 0px;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded {
    display: block;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item {
    background: rgba(0,0,0,.4);
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item a {
    padding-left: 15px;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item a:hover,
.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item a:focus {
    background: rgba(0,0,0,.3);
    transition: background .2s ease-in;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item span.sub-menu-arrow {
	display: none;
}

.region.region-primary-menu ul.menu ul.mobile-sub-menu-expanded li.menu-item > ul.mobile-sub-menu-expanded {
    display: none;
}

/* BREADCRUMB */
.region.region-breadcrumb {
    background: #fae9d3;
}

nav.breadcrumb {
    display: none;
    padding-top: 8px;
    padding-top: .5em;
    padding-left: 16px;
    padding-left: 1em;
}

nav.breadcrumb a {
    color: #8e3e2e;
    text-decoration: none;
    font-weight: bold;
}

nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 0px 10px;
    overflow: hidden;
    background: #fae9d3;
    font-size: .875rem;
}

.page-node-type-outbreak-standard main,
.page-node-type-outbreak-response main,
.path-current-responses-to-outbreaks main {
    background: white;
}

main h1,
main h2,
main h3 {
    margin: .5em 0 .3em;
}

main h1 {
    color: #8e3e2e;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: normal;
    line-height: 36px;
    line-height: 2rem;
}

main h2 {
    color: #8c4d39;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
}

main h3 {
    color: #343434;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
}

main a {
    color: #bb523d;
    text-decoration: underline;
}

main a:hover,
main a:focus {
    color: black;
    text-decoration: underline;
}

/* LEFT NAVIGATION */
nav#block-secondarynavigation {
    display: none;
}

/* FOOTER */
footer {
    background: #343434;
    border-top: 10px solid #e7d7b3;
    padding-bottom: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}

footer .menu {
    margin-left: 0px;
    margin-bottom: 0px;
}

footer .menu-item {
    text-align: center;
    margin: 0.5em 0;
}

footer .menu-item:last-child {
    margin: 0;
}

/* VIEWS */
.view.view-current-responses-to-outbreaks p {
    margin-top: 0px;   
}

.outbreak-list-state-territory-outer {
    display: flex;   
}

.view-grouping-header {
    margin-top: .5em;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
}

/* COMPONENTS */
/* NODE LIST */
main .field--name-field-feature-boxes {
    margin-top: 10px;
}

main .field--name-field-feature-boxes img {
    width: 100%;
    height: 100%;
}

main .field--name-field-feature-boxes p {
    font-size: 16px;
    font-weight: normal;
}

main .field--name-field-feature-boxes a {
    color: #5f2a1f;
    text-decoration: none;
}

main .field--name-field-feature-boxes a:hover,
main .field--name-field-feature-boxes a:focus {
    text-decoration: underline;
}

main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item {
    background: #e7d7b3;
    border: 1px solid #bb533e;
    padding: 8px;
    margin-bottom: 10px;
}

main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover,
main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover p,
main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover a {
    transition: all 0.2s ease-in;
    color: white;
}

main .field--name-field-feature-boxes .paragraph--type--node-list > div > div.field__item:hover {
    background: #bb523d;
}

@media only screen and (min-width: 768px) {
    /* HEADER */
    div#block-outbreak-sitebranding {
        width: 100%;
    }

    div#block-outbreak-sitebranding img {
        width: 135px;
    }

    div#block-outbreak-sitebranding a {
        font-size: 33x;
        font-size: 2rem;
    }

    nav#block-toplinks {
        display: flex;
        flex: 0 1 45%;
    }

    div#block-outbreak-exposedformcontent-searchpage-1 {
        display: flex;
        flex: 0 1 55%
    }

    div#block-outbreak-exposedformcontent-searchpage-1 > form {
        width: 100%;
    }

    /* BREADCRUMB */
    nav.breadcrumb {
        display: block;
    }
}

@media only screen and (min-width: 1170px) {
    /* HEADER */
    .region-header-inner-wrapper {
        display: -ms-grid;
        display: grid;
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
        -ms-grid-columns: 60% 10% 30%;
        grid-template-columns: [col-start] 60% [col-start] 10% [col-start] 30%;
    }
    
    div#block-outbreak-sitebranding {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-column-start: col-start 1;
        -ms-grid-row-span: 2;
        grid-row-end: span 2;
    }

    nav#block-toplinks {
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
        -ms-grid-row-align: end;
        align-self: end;
    }
    
    div#block-outbreak-exposedformcontent-searchpage-1 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
    }

    div#block-outbreak-exposedformcontent-searchpage-1 div#edit-actions {
        width: auto;
    }

     /* PRIMARY MENU */
     .region.region-primary-menu {
        padding: 0px;
    }

    nav#block-outbreak-mainnavigation {
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
    }

    .region.region-primary-menu a.main-menu-mobile-link,
    .region.region-primary-menu a.main-menu-mobile-link:hover,
    .region.region-primary-menu a.main-menu-mobile-link:focus {
        display: none;
    }

    .region.region-primary-menu .main-menu-items-wrapper {
        display: block;
        margin: 0px;
    }

    .region.region-primary-menu ul.menu {
        margin: 0px;
        display: flex;
    }

    .region.region-primary-menu li.menu-item {
        position: relative;
        background: none;
        display: flex;
        flex: 1 1 0px;
        margin: 0;
        min-height: 73px;
    }

    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item {
        border-right: #a3311a solid 1px;
    }

    .region.region-primary-menu li.menu-item a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: bold;
        font-size: 14px;
        font-size: .9rem;
    }

    .region.region-primary-menu .menu-item-wrapper {
        background: none;
        width: 100%;
        margin: 0;
    }
    
    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > .menu-item > .menu-item-wrapper {
        background: none;
        width: 100%;
        margin: 0;
    }

    .region.region-primary-menu li.menu-item a:hover,
    .region.region-primary-menu li.menu-item a:focus,
    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > a,
    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--active-trail > .menu-item-wrapper > a {
        background: #bb523d;
    }

    .region.region-primary-menu span.sub-menu-arrow {
        display: none;
    }

    .region.region-primary-menu ul.menu ul.menu {
        position: absolute;
        top: 73px;
        left: 0px;
        z-index: 99999;
        background: #a3311a;
        display: none;
        flex-direction: column;
        min-width: 250px;
        width: 100%
    }

    .region.region-primary-menu ul.menu ul.menu a {
        background: #bb523d;
    }

    .region.region-primary-menu .main-menu-items-wrapper > ul.menu > li.menu-item--expanded:hover > ul.menu {
        display: flex;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item {
        background: none;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item:not(:last-child) {
        border-bottom: white solid 1px;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item a {
        justify-content: flex-start;
        padding-left: 20px;
        padding-left: 1.2em;
        font-weight: normal;
    }

    .region.region-primary-menu ul.menu ul.menu li.menu-item a:focus,
    .region.region-primary-menu ul.menu ul.menu li.menu-item a:hover {
        background: rgba(0,0,0,.2);
    }

    /* BREADCRUMB */
    nav.breadcrumb {
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
    }

    /* MAIN */
    main h1 {
        margin-top: 0;
    }

    .page-node-type-outbreak-standard main,
    .page-node-type-outbreak-response main,
    .path-current-responses-to-outbreaks main {
        background: #fae9d3;
        padding-bottom: 10px;
    }

    .region.region-content {
        max-width: 1170px;
        max-width: var(--max-page-width, 1170px);
        margin: auto;
    }
    
    .page-node-type-outbreak-standard .region.region-content,
    .page-node-type-outbreak-response .region.region-content,
    .path-current-responses-to-outbreaks .region.region-content {
        background: white;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 25% 10px auto;
        grid-template-columns: [col-start] 25% [col-start] 10px [col-start] auto;
    }
    
    /* LEFT NAVIGATION */
    nav#block-secondarynavigation {
        display: block;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-column-start: col-start 1;
        grid-row-end: span 2;
        padding: 10px 0 0 10px;
        padding: .625em 0 0 .625em;
    }

    div#block-outbreak-pagetitle {
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
        padding: 10px 20px 0 0;
        padding: .625em 20px 0 0;
    }

    .page-node-type-outbreak-standard div#block-outbreak-mainpagecontent,
    .page-node-type-outbreak-response div#block-outbreak-mainpagecontent,
    .path-current-responses-to-outbreaks div#block-outbreak-mainpagecontent {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        grid-column-start: col-start 3;
        padding-right: 20px;
    }

    .view.view-current-responses-to-outbreaks {
        overflow: hidden;
    }

    /* FOOTER */
    footer .region.region-footer {
        max-width: 1170px;
        margin: auto;
        color: white;
    }
    
    footer .menu {
        display: flex;
        justify-content: center;
    }

    footer .menu-item:after {
        padding: 0 .5em;
        content: "|";
    }

    footer .menu-item:last-child {
        margin:0.5em 0;
    }

    footer .menu-item:last-child:after {
        margin: 0px;
        content: none;
    }
}